<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- Último CSS compilado y minificado -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Tema opcional -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>

<body>
    <!-- Contenedor del formulario-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Contacto</h2>
                <!-- Formulario -->
                <form action="#" name="basic">
                    <!-- Campo Nombre-->
                    <div class="form-group">
                        <label for="nombre" style="color: blue;">Nombres</label>
                        <input type="text" name="nombre" id="nombre" class="form-control">
                    </div>
                    <!-- Campo Apellido-->
                    <div class=" form-group">
                        <div class="form-group">
                            <label for="apellido" style="color: blue;">Apellidos</label>
                            <input type="text" name="apellido" id="apellido" class="form-control">
                        </div>
                    <!-- Campo Edad-->
                        <div class="form-group">
                            <label for="edad" style="color: blue;">Edad</label>
                            <input type="number" name="edad" id="edad" class="form-control">
                        </div>
                    <!-- Campo Correo-->
                        <div class="form-group">
                            <label for="correo" style="color: blue;">Correo</label>
                            <input type="email" name="correo" id="correo" class="form-control">
                        </div>
                    <!-- Campo Mensaje-->
                        <div class="form-group">
                            <label for="mensaje" style="color: blue;">Mensaje</label>
                            <input type="text" name="mensaje" id="mensaje" class="form-control">
                        </div>
                        <!-- captcha -->
                        <div class="row" style="margin-bottom:30px;">
                            <div class="col-sm-5">
                                <img src="http://reusableforms.com/captcha" id="captcha_image" />
                            </div>
                            <div class="col-sm-6">
                                <label for="email" style="color: blue;">Introduce el código de la imagen aquí:</label>
                                <input type="text" class="form-control" required id="captcha" name="captcha">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Enviar
                            &rarr;</button>


                </form>
            </div>
        </div>
    </div>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
</body>

</html>
  <!-- Llamamos al archivo jquery -->
<script src="../static/js/jquery.js" type="text/javascript"></script>